.wrapper {
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

}

.wrapper-wdth {
  width: 1220px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
}

.wrapper-logo {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url(./assets/Union.svg);
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
}

.jobored {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #232134;
}

.wrapper-nav {
  display: flex;
  justify-content: space-between;
}

p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.search {
  color: #5e96fc;
}

.favorites{
    color: #232134;
    margin-left: 60px;
}