.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 44px;
}

.btn,
.btn-1 {
  font-family: 400 "Roboto" 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #d5d6dc;
  border-radius: 4px;
}

.btn-1 {
  background: #5e96fc;
  border: 1px solid #5e96fc;
  border-radius: 4px;
  color:#ffffff
}

.btn-left{
    background-image: url(./assets/pagination\ button\ left.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
  }
.btn-right{
    background-image: url(./assets/pagination\ button\ right.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8px;
  }