* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  box-sizing: content-box;
  }

body{
  width: 1200px;
  margin: auto;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: black;
}
